$brand-biotechnologie: #D56376;
$brand-campus-automobile: #7B2133;
$brand-construform: #AF70A9;
$brand-environnement: #d3b695;
$brand-formalim: #bb2d0d;
$brand-logisitique: #D6DE28;
$brand-management: #005187;
$brand-pigment: #b5140b;
$brand-polygone-eau: #008abf;
$brand-secteur-vert: #b3c935; 
$brand-tourisme: #fcb84b;
$brand-wallonie-bois: #75b82b;

$centers: (
  biotechnologie: $brand-biotechnologie,
  campus-automobile: $brand-campus-automobile,
  construform: $brand-construform,
  domain-forem-environnement: $brand-environnement,
  domain-forem-formalim: $brand-formalim,
  logisitique: $brand-logisitique,
  domain-forem-management-commerce: $brand-management,
  domain-forem-pigments: $brand-pigment,
  domain-forem-polygone-eau: $brand-polygone-eau,
  domain-forem-secteurs-verts: $brand-secteur-vert,
  domain-forem-tourisme: $brand-tourisme, 
  domain-forem-wallonie-bois: $brand-wallonie-bois
);
