.view-display-id-pg_calendar{
  .month-view .full {
    td{
      @include propertyByCenter('border', '1px solid');
      div.monthview, 
        div.weekview, 
        div.dayview{
          @include propertyByCenter('background');
        }
    }
  }
}
