.view-empty p {
  font-weight: 700;
  padding: 15px 0 10px;
  margin:60px 0;
}

.fiche__formation-header-btns
{
  .addthis_inline_share_toolbox
  {
      #atstbx > div > a.at-share-btn
      {
          &:hover
          {
              &::after
              {
                  @include propertyByCenter('color');
              }
          }
      }
  }
}

.panel-default
{
    > .panel-heading
    {
        a
        {
            text-decoration: none;

            border: none;

            @include colorForCenter('color', #000);
            i
            {
                min-width: 25px;
            }
        }
    }
}

.swiper-button
{
    height: 60px;
    margin-top: 0;
    padding: 10px;

    transform: translateY(-50%);

    border: 1px solid $f-light-gray;
    background-color: #fff;
    background-size: 10px 18px;

    @include transition(all .2s);
    &:hover
    {
        @include propertyByCenter('border', '1px solid');
    }
}

.swiper-button-prev
{
    left: -14px;

    @include propertyByCenter('background-image', 'swiper-btn-left.png');
}
.swiper-button-next
{
    right: -14px;

    @include propertyByCenter('background-image', 'swiper-btn-right.png');
}

@media (min-width:768px)
{
    .container.fiche__formation
    {
        padding: 0;
    }
}
