textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include propertyByCenter('border', '1px solid');
}

.form-control:focus,
.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    outline: none;
    box-shadow:none;
}

.chosen-container-single .chosen-single {
  @include propertyByCenter('border', '1px solid');
}

.facetapi-facetapi-ajax-checkboxes .checkbox {

  input[type="checkbox"] {
    position: relative;
    margin: 0 16px 0 -20px;

    cursor: pointer;
    &:focus {
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(242, 153, 1, .4);

      @include propertyByCenter('border-color');
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(242, 153, 1, .4);
    }
    &:before {
      position: absolute;
      z-index: 1;
      top: .125rem;
      left: 5px;

      width: 8px;
      height: 8px;

      content: "";
      transition: border .4s, -webkit-transform .4s cubic-bezier(.45, 1.8, .5, .75);
      transition: transform .4s cubic-bezier(.45, 1.8, .5, .75), border .4s;
      transition: transform .4s cubic-bezier(.45, 1.8, .5, .75), border .4s, -webkit-transform .4s cubic-bezier(.45, 1.8, .5, .75);
      transform: rotate(-45deg) scale(0, 0);

      border: 2px solid #527616;
      border-top-style: none;
      border-right-style: none;

      -webkit-transform: rotate(-45deg) scale(0, 0);
      -ms-transform: rotate(-45deg) scale(0, 0);
    }
    &:checked:before {
      transform: rotate(-45deg) scale(1, 1);

      -webkit-transform: rotate(-45deg) scale(1, 1);
      -ms-transform: rotate(-45deg) scale(1, 1);
    }
    &:after {
      position: absolute;
      top: -.125rem;
      left: 0;

      width: 18px;
      height: 18px;

      content: "";
      cursor: pointer;

      background: #FFFFFF;

      @include propertyByCenter('border', '2px solid');
    }
    &:checked:after {
      border: 2px solid #527616;
    }
  }
}

