
a {
  font-weight: bold;
  text-decoration: underline;

  @include transition(all .2s);
  @include propertyByCenter('color');

  &:hover {
    @include darkenForCenter('color', 10%);
    > i {
      @include darkenForCenter('color', 10%);
    }
  }
  &.btn {
    text-decoration: none;
    color: #FFFFFF;
  }
}

#ui-datepicker-div{
  @include propertyByCenter('border', '1px solid');
  .ui-datepicker-calendar{
    tr{
      td{
        a{
          @include propertyByCenter('color');
        }
      }
    }
  }
}

.cc_container{
      background: #f6f6f6 !important;
      border:none !important;
  .cc_btn, .cc_btn:visited{
    color: white !important;
    @include propertyByCenter('background');
    border-radius:0 !important;
  }
  a, a:visited{
    color:  #0095AC !important;
  }
}

.dropdown-menu{
  > .active > a, 
  > .active > a:hover, 
  > .active > a:focus{
    @include propertyByCenter('background');
    @include colorForCenter('color', #FFFFFF);
  }
}

.chosen-container .chosen-results li.highlighted{
   @include propertyByCenter('background');
}


.search-button {
  &:hover {
    > i {
      @include propertyByCenter('color');
    }
  }
}

.btn__blue {
  &.profile__button {
    &:hover {
      @include colorForCenter('background', darken($f-blue,5%));
      @include colorForCenter('color', #FFFFFF);
    }
  }
}

  .btn__gray {
     &.icon {
      &:hover {
        &::before {
          @include animate(bounce, 1s, infinite, normal, 0, ease-in-out);
        }
      }
    }
  }

.btn__default,
.btn-primary  {
  color: #FFFFFF;

  @include propertyByCenter('border', '1px solid');
  @include propertyByCenter('background');

  &.icon {
    &:hover {
      @include colorForCenter('color', #FFFFFF);
      @include darkenForCenter('background', 5%);
      &::after {
        @include colorForCenter('color', #FFFFFF);
        @include animate(bounce, 1s, infinite, normal, 0, ease-in-out);
      }
    }
  }

  &.profile__button {
    &.active:hover {
      @include colorForCenter('background', $f-blue);
    }
    &:hover {
      @include darkenForCenter('background', 5%);
      @include colorForCenter('color', #FFFFFF);
    }
  }


  &:hover {
    background: transparent;

    @include propertyByCenter('color');
    //@include darkenForCenter('background', 10%);
    @include propertyByCenter('border', '1px solid');
  }


  &.featured__button {
    &:hover {
      @include colorForCenter('background', rgba(255, 255, 255, .9));
    }
  }
}

.btn-primary{
  height: 50px;
}


.footer__content {
  a {
    @include colorForCenter('color', #FFFFFF);
  }
}

.links {
  a {
    @include colorForCenter('color', $f-blue);
    &:hover {
      @include colorForCenter('color', darken($f-blue, 10%));
    }
  }
}


.panel-title > a {
  &:hover {
    @include colorForCenter('color', #000000);
    > i {
      @include colorForCenter('color', #000000);
    }
  }
}

.event__details {
  a {
    text-decoration: none;

    @include colorForCenter('color', #000000);
    &:hover {
      @include propertyByCenter('color');
    }
  }
}

.event__month__next a,
.event__month__prev a {
  @include colorForCenter('color', $f-gray);
}

.event__month__next a:hover,
.event__month__prev a:hover  {
  @include colorForCenter('color', darken($f-gray, 20%));
  i {
      @include colorForCenter('color', darken($f-gray, 20%));
  }
}


#contactForm {
  .btn__default {
    &:hover {
      @include propertyByCenter('color');
    }
  }
}




@include keyframes(bounce) {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}
