@mixin modalImages ($nomCentre, $amount) {
  @for $i from 1 through $amount {
    .#{$nomCentre} & {
      .modal__img_#{$i}::after {
        background: url("../img/centres/#{$nomCentre}/popup_img_#{$i}.jpg") no-repeat;
        background-size: contain;
      }
    }
  } 
}

@mixin propertyByCenterModal($amount) {
  @each $center, $color in $centers {
    @for $i from 1 through $amount {
      .#{$center} & {
        .modal__img_#{$i}::after {
          background: url("../img/centres/#{$center}/popup_img_#{$i}.jpg") no-repeat;
          background-size: contain;
        }
      }
    }
  } 
}

@mixin propertyByCenter ($property, $extra : '') {

  @each $center, $color in $centers {
    $output: $color;
    @if $property == 'border' {
      // prevent sass from adding quotes around the result
      $output: unquote($extra + ' ' + $color);
    }
    @if $property == 'background' and $extra != '' {
      $output: url("../img/centres/#{$center}/#{$extra}") no-repeat;
    }
    @if $property == 'background-image' and $extra != '' {
      $output: url("../img/centres/#{$center}/#{$extra}");
    }
    .#{$center} & {
      #{$property}: #{$output};
    }
  }
}

@mixin colorForCenter ($property, $color, $extra : '') {

  @each $center, $acolor in $centers {
    $output: $color;
    .#{$center} & {
      #{$property}: #{$output};
    }
  }
}

@mixin darkenForCenter ($property, $amount) {

  @each $center, $color in $centers {
    .#{$center} & {
      #{$property}: #{darken($color, $amount)};
    }
  }
}
