#profileModal {
  
  .modal-content {
    border: 0;
    border-radius: 0;
  }

  .modal-body {
    padding: 0;
  }

  .modal-lg {
    width: 200px;
    margin: 30px auto;
  }

  .modal__col__text {
    display: block;
    padding: 10px 10px; 

    font-family: $f-font-stack-title;
    font-weight: normal;

    color: #FFFFFF;
    background: rgba(18, 80, 98, .9);
  }

  .modal-title {
    padding: 20px 0;

    text-align: center;

    @include propertyByCenter('color');
  }


  .modal__img {
    position: relative;

    width: 200px;
    overflow: hidden;

    &:hover {
      &::after {
        transform:scale(1.05,1.05);
        transition:transform 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);
        z-index: 3;
      }
    }
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1;
      transform:scale(1,1);
      transition:transform 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
  }
}

.profile__button {
   text-decoration: none;
}

@media (min-width:480px) {
  #profileModal {
    .modal-lg {
      width: 325px;
    }
    .modal__img {
      width: 325px;
      max-width: 325px;
      min-height: 325px;
    }
  }
}
@media (min-width:768px) {
  #profileModal {
    @include propertyByCenterModal(3);

    .modal__col__text {
      position: absolute;
      z-index: 5;
      bottom: 20px;

      display: block;
      padding: 5px 10px; 
    }
  }
}

@media (min-width:1024px) {
  #profileModal {
    .modal-lg {
      width: 975px;
    }

    .modal__col__text {
      padding: 5px 10px;

      font-size: 18px;
    }

    .modal__col {
      float: left;
    }
    .modal__img {
      width: 325px;
      max-width: 325px;
      min-height: 325px;
    }
  }
}

