.navbar-collapse {
  @include propertyByCenter('background');
}

.navbar-brand {
  @include propertyByCenter('background-image', 'logo_centre.png');

} 

@media (min-width:1024px) {
  .navbar-collapse {
    @include colorForCenter('background', transparent);
  }
}
