.news__feature-inner
{
    @include propertyByCenter('border', '3px solid');
}
.news__feature-inner,
.news__element-content
{
    h3 a
    {
        text-decoration: none;

        @include colorForCenter('color', #000);
        &:hover
        {
            text-decoration: underline;
        }
    }
}

.news__inner {
	h4 a
    {
        text-decoration: none;

        @include colorForCenter('color', #000);
        &:hover
        {
            text-decoration: underline;
        }
    }
}

.news__square
{
    &::after
    {
        @include propertyByCenter('background');
    }
}
