.pagination {
  margin-top: 10px;
  > li {
    > a,
    > span {
      @include propertyByCenter('border', '1px solid');

      &:hover,
      &:focus {
        color: $f-light-gray;

        @include propertyByCenter('border-color');
        @include propertyByCenter('background-color');
      }
    }
     &.active span{
      color: $f-light-gray;

        @include propertyByCenter('border-color');
        @include propertyByCenter('background-color');
    }
  }
}

