.chosen-select {
  width: 100%;
}

.chosen-select-deselect {
  width: 100%;
}

.chosen-container {
  position: relative;

  display: inline-block;

  font-size: 14px;
  vertical-align: middle;
}
.chosen-container .chosen-drop {
  position: absolute;
  z-index: 1060;
  top: 100%;
  left: -9000px;

  margin-top: -1px;

  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  box-shadow: 0 8px 8px rgba(0, 0, 0, .25);

  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
}
.chosen-container.chosen-with-drop .chosen-drop {
  right: 0;
  left: 0;
}
.chosen-container .chosen-results {
  position: relative;

  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;

  color: #555555;

  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;

  list-style: none;

  line-height: 1.42857;
}
.chosen-container .chosen-results li em {
  font-style: normal;

  background: #FEFFDE;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;

  font-weight: bold;

  cursor: default;

  color: #999999;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;

  cursor: pointer;
}
.chosen-container .chosen-results li.highlighted {
  color: white;
  background-color: #337AB7;
  background-image: none;
}
.chosen-container .chosen-results li.highlighted em {
  background: transparent;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;

  color: #777777;
}
.chosen-container .chosen-results .no-results {
  display: list-item;

  background: #EEEEEE;
}
.chosen-container .chosen-results-scroll {
  position: absolute;
  z-index: 1;

  width: 321px;
  margin: 0 4px;

  text-align: center;

  background: white;
}
.chosen-container .chosen-results-scroll span {
  display: inline-block;
  width: 9px;
  height: 1.42857;

  text-indent: -5000px;
}
.chosen-container .chosen-results-scroll-down {
  bottom: 0;
}
.chosen-container .chosen-results-scroll-down span {
  background: url("../img/chosen/chosen-sprite.png") no-repeat -4px -3px;
}
.chosen-container .chosen-results-scroll-up span {
  background: url("../img/chosen/chosen-sprite.png") no-repeat -22px -3px;
}

.chosen-container-single .chosen-single {
  position: relative;

  display: block;
  overflow: hidden;
  height: 50px;
  padding: 0 0 0 8px;

  line-height: 50px;
  white-space: nowrap;
  text-decoration: none;

  color: #555555;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  background-clip: padding-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;

  white-space: nowrap;
  text-overflow: ellipsis;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 12px;
  right: 26px;

  display: block;
  width: 12px;
  height: 10px;

  font-size: 1px;

  background: url("../img/chosen/chosen-sprite.png") right top no-repeat;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: right -11px;
}
.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
  background-position: right 2px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 16px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;

  background: url("../img/chosen/chosen-sprite.png") no-repeat 0 14px;
}
.chosen-container-single .chosen-default {
  color: #777777;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1000;

  margin: 0;
  padding: 3px 4px;

  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  width: 100%;
  margin: 1px 0;
  padding: 4px 20px 4px 4px;

  border: 1px solid #CCCCCC;
  background: url("../img/chosen/chosen-sprite.png") no-repeat 100% -20px, #FFFFFF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;

  background-clip: padding-box;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}

.chosen-container-single-nosearch .chosen-search input[type="text"] {
  position: absolute;
  left: -9000px;
}

.chosen-container-multi .chosen-choices {
  position: relative;

  overflow: hidden;
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;

  cursor: text;

  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.chosen-container-multi .chosen-choices li {
  float: left;

  list-style: none;
}
.chosen-container-multi .chosen-choices .search-field {
  margin: 0;
  padding: 0;

  white-space: nowrap;
}
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
  height: 32px;
  margin: 0;
  padding: 4px;

  color: #555555;
  border: 0 !important;
  outline: 0;
  background: transparent !important;
  box-shadow: none;

  -webkit-box-shadow: none;
}
.chosen-container-multi .chosen-choices .search-field .default {
  color: #999999;
}
.chosen-container-multi .chosen-choices .search-choice {
  position: relative;

  margin: 6px 0 3px 5px;
  padding: 3px 20px 3px 5px;

  line-height: 13px;

  cursor: default;

  color: #333333;
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  background-image: -webkit-linear-gradient(top, white 0%, #EEEEEE 100%);
  background-image: -o-linear-gradient(top, white 0%, #EEEEEE 100%);
  background-image: linear-gradient(to bottom, white 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
  position: absolute;
  top: 5px;
  right: 4px;

  display: block;
  width: 12px;
  height: 10px;

  font-size: 1px;

  cursor: pointer;

  background: url("../img/chosen/chosen-sprite.png") right top no-repeat;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chosen-container-multi .chosen-choices .search-choice-focus {
  background: #D4D4D4;
}
.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
.chosen-container-multi .chosen-results {
  margin: 0 0 0 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: none;
}

.chosen-container-active .chosen-single {
  transition: border linear .2s, box-shadow linear .2s;

  border: 1px solid #66AFE9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #66AFE9;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #66AFE9;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  transition: border linear .2s, box-shadow linear .2s;

  border: 1px solid #66AFE9;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #66AFE9;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #66AFE9;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 14px;
}
.chosen-container-active .chosen-choices {
  transition: border linear .2s, box-shadow linear .2s;

  border: 1px solid #66AFE9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #66AFE9;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #66AFE9;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
}
.chosen-container-active .chosen-choices .search-field input[type="text"] {
  color: #111111 !important;
}
.chosen-container-active.chosen-with-drop .chosen-choices {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.chosen-disabled {
  cursor: default;

  opacity: .5 !important;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;

  direction: rtl;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 7px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices .search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices .search-choice {
  margin: 6px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices .search-choice .search-choice-close {
  right: auto;
  left: 4px;

  background-position: right top;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results .group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;

  background: url("../img/chosen/chosen-sprite.png") no-repeat -28px -20px, #FFFFFF;

  direction: rtl;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-repeat: no-repeat !important;
    background-size: 52px 37px !important;
  }
}
