@mixin links ($link, $visited, $hover, $active) {
  color: $link;
  &:visited {
    color: $visited;
  }
  &:hover {
    color: $hover;
  }
  &:active,
  &:focus {
    color: $active;
  }
}

/*usage
a {
    @include links(orange, blue, yellow, teal);
}*/


@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


@mixin transform($transforms) {
    transform: $transforms;
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
}
@mixin transform-style($val) {
    -webkit-transform-style: $val;
    -moz-transform-style: $val;
    -ms-transform-style: $val;
    transform-style: $val;
}
@mixin rotate ($deg) {
     @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
     @include transform(scale($scale));
}
@mixin translate ($x, $y) {
     @include transform(translate($x, $y));
}
@mixin skew ($x, $y) {
     @include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin transform-origin ($origin) {
    transform-origin: $origin;
    -moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
}
@mixin transition($transition...) {
    transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
}
@mixin transition-property($property...) {
    transition-property: $property;
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
}
@mixin transition-duration($duration...) {
    transition-property: $duration;
    -moz-transition-property: $duration;
    -o-transition-property: $duration;
    -webkit-transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
    transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
    transition-delay: $delay;
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
}



@mixin animate($name, $duration, $iteration, $direction, $delay, $timing) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-delay: $delay;
  animation-iteration-count: $iteration;
  animation-direction: $direction;

  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation--delay: $delay;
  -webkit-animation-timing-function: $timing;
  -moz-animation-timing-function: $timing;
  -o-animation-timing-function: $timing;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}


