$f-font-size-base: 16px;

body {
  font-size: $f-font-size-base;
  color: $f-gray;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat-bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  &.titleMargin{
    margin:3rem 0;
  }
}


.not-front h1 {
  padding: 20px 10px;
  margin-top: 0;

  font-family: $f-font-stack-title;

  background: $f-light-gray;
}


h1 {
  font-size: 1.500em;
  text-transform: uppercase;
    font-family: $f-font-stack-title;
}

h2 {
  font-size: 1.500em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.250em;
}

h5 {
  font-size: 1.125em;
}


.red-text {
  color: $f-red;
}


/*

Font face


 */

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: local(''), url('../fonts/Montserrat/regular/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat/regular/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat/regular/Montserrat-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Montserrat/bold/Montserrat-Bold.eot');
  src: local(''), url('../fonts/Montserrat/bold/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat/bold/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat/bold/Montserrat-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Montserrat/extrabold/Montserrat-ExtraBold.eot');
  src: local(''), url('../fonts/Montserrat/extrabold/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat/extrabold/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat/extrabold/Montserrat-ExtraBold.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Montserrat/extralight/Montserrat-ExtraLight.eot');
  src: local(''), url('../fonts/Montserrat/extralight/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat/extralight/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat/extralight/Montserrat-ExtraLight.svg') format('svg');
}






