$f-font-stack-default: "Hind", "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-font-stack-big-title: 'Montserrat-ExtraBold', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$f-font-stack-title: 'Montserrat-bold', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$f-font-stack-light-title: 'Montserrat-Extralight', "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$f-red: #bd0404;
$f-blue: #0095ac;
$f-yellow: #fcb84b;
$f-gray: #959595;
$f-light-gray: #f6f6f6;
