.alert {
  //margin-top: -20px;
  margin-bottom: 40px;

  background: transparent;
  border: 3px solid $f-red;
  border-top: 0;
  border-radius: 0;
  font-family:  $f-font-stack-title;

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.8s;
  -moz-animation-duration:.8s;
  animation-duration:.8s;

  .alert-danger{
    border-color:$f-red;
    color: $f-red;
  }
  .alert-success {
    border-color:#3c763d;
  }
 
  .page-formation &{
    margin-top: -20px;
  }

}
