.btn {
  padding: 13px 8px;

  font-weight: bold;

  color: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  @include transition(all .2s);
}

.btn__big {
  display: block;
  height: 50px;
  padding: 13px 8px;

  font-size: 16px;
}

.btn.btn__gray {
  color: #000000;
  border: 1px solid $f-light-gray;
  background: $f-light-gray;
  &:hover {
    background: transparent;
  }
}

.formation__btn {
  width: 100%;
}

.btn__default.profile__button.active {
  border: 1px solid $f-blue;
  background: $f-blue;
  &:hover {
      border: 1px solid $f-blue;
      color: #fff;
  }
}

@media (min-width:1024px) {
  .btn__big {
    padding: 13px 26px;
  }
}
