.panel-group .panel {
  border-radius: 0;
}
.panel {
  box-shadow: none;
  .panel-title {
    width: 97%;
    > a {
      position: relative;

      display: block;
      &::after {
        position: absolute;
        top: 50%;
        right: 0;

        font-family: 'FontAwesome';

        content: "\f139";
        transform: translateY(-50%);

        color: #000;
      }
      &.collapsed::after {
        content: "\f13a";
      }
    }
  }
}



.panel-default {
  border-color: #F1F4F6;
  > .panel-heading {
    padding: 20px 15px;

    background: #F1F4F6;
    a {
      text-decoration: none;

      border: none;
      i {
        min-width: 25px;
      }
    }
  }
}


.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}
