.footer
{
    #map
    {
        height: 320px;
    }
}

.footer__infos
{
    font-size: 15px;

    color: #fff;
    background: $f-blue;
    .row
    {
        padding: 24px 0 18px 0;
    }
    a
    {
        font-weight: bold;

        color: #fff;
    }
}

.footer__block
{
    margin-bottom: 10px;
}

.footer__icon,
.footer__content
{
    display: inline-block;

    vertical-align: top;
    a
    {
        font-weight: bold;

        color: #fff;
    }
}

.footer__icon
{
    font-size: 24px;

    margin-top: -6px;
    margin-right: 10px;
}

.container.footer__map
{
    padding: 0;
}

.page-node-contact
{
    .container.footer__map
    {
        display: none;
    }
}

.links
{
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    a
    {
        font-size: .875em;
        font-weight: bold;

        color: $f-blue;
    }
    small
    {
        display: block;

        margin-top: 10px;
        margin-left: 10px;
    }
}

.supporters
{
    padding-top: 15px;
    padding-bottom: 20px;

    text-align: center;
}
.supporter__element
{
    display: inline-block;
    overflow: hidden;

    margin-right: 10px;

    vertical-align: middle;
    white-space: nowrap;
    text-indent: 100%;
}

a.plushaut
{
    width: 120px;
    height: 84px;

    background: transparent url('../img/logo_FEDER_wallonie.png') no-repeat center center;
}
a.wallonie
{
    width: 46px;
    height: 46px;

    background: transparent url('../img/logo_wallonie.jpg') no-repeat center center;
}
a.plan-marshall-4
{
    width: 122px;
    height: 38px;

    background: transparent url('../img/logo_planmarshall.jpg') no-repeat center center;
}
a.synerjob
{
    width: 52px;
    height: 52px;

    background: transparent url('../img/logo_synerjob.jpg') no-repeat center center;
}

@media (min-width:768px)
{
    .links
    {
        small
        {
            display: inline;

            margin-top: 0;
        }
    }
}

@media (min-width:1200px)
{
    .links
    {
        padding-top: 50px;

        text-align: right;
    }

    .supporters
    {
        padding-bottom: 40px;

        text-align: left;
    }
}
