textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  width: 100%;
  height: 50px;
  padding-left: 10px;

  font-size: 14px;
  font-weight: 300;

  color: black;
  border-radius: 0;
  background: #FFFFFF;
}

.form-control {
  border-radius: 0;
}

select.form-control {
  padding-right: 20px;
  height: 50px;

  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: right center;
  option:disabled {
    color: $f-gray;
  }
}


.chosen-container-single .chosen-single {
  height: 50px;
  font-weight: normal;
  color: $f-gray;
  &:hover {
    color: $f-gray;
  }
}

.chosen-container .chosen-results li{
  padding: 15px 6px;
  line-height: 15px;
}

.control-label {
  color: #000000;
} 

.form-type-checkbox{
  .control-label {
    color: inherit;
  } 

}

.file-upload-wrapper {
  position: relative;

  width: 100%;
  height: 50px;

  border: 1px solid #FCB84B;
  &:after {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    display: block;
    width: calc(100% - 40px);
    height: 40px;
    padding: 5px 15px;

    line-height: 40px;

    content: attr(data-text);
    pointer-events: none;

    border-radius: 5px 10px 10px 5px;
  }

  &:before {
    position: absolute;
    z-index: 25;
    top: 0;
    right: 0;

    display: inline-block;
    height: 49px;
    padding: 15px;

    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    content: "\f093";
    pointer-events: none;

    color: #FFFFFF;
    background: $f-yellow;
  }

  :hover:before {
    background: $f-yellow;
  }
  input {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    opacity: 0;
  }
}

/* ===============

    Search results

=============== */

#formDetailsFormation {
  margin-top: 10px;

  border-bottom: 1px solid $f-light-gray;
  .facetapi-facetapi-ajax-checkboxes{
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
  }
  li{
    height: 30px;
  }
  .form-control {
    height: 34px;
  }
  .btn__default {
    width: 100%;
  }
}

@media (min-width:1024px) {
  #formDetailsFormation {
    padding-right: 10px;

    border-right: 1px solid $f-light-gray;
  }
}



