body #wrapper > header .icon,
body #wrapper section .icon,
body #wrapper main .icon,
body #wrapper > footer .icon {
  &::before { 
    display: inline-block;
    width: 18px; 
    height: 20px;
    margin-right: 5px;

    vertical-align: middle;
    text-indent: -9999px;

    content: "";

    background: url(../img/arrow_link.svg) no-repeat;
    background-size: contain;
  }

  &.icon__right {
    &::before {
      display: none;
    }
    &::after {
      display: inline-block;
      width: 18px;
      height: 20px;
      margin-left: 5px;

      vertical-align: middle;
      text-indent: -9999px;

      content: "";

      background: url(../img/arrow_link.svg) no-repeat;
      background-size: contain;

    }
    &.icon__arrow-white {
      &::after {
        background: url(../img/arrow_link-white.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  &.icon__arrow-white {
    &::before {
      background: url(../img/arrow_link-white.svg) no-repeat;
      background-size: contain;
    }
  }

  &.icon__arrow-reverse {
    &::before {
      background: url(../img/arrow_link-reverse.svg) no-repeat;
      background-size: contain;
    }
  }
}





