.arrow__link {
  display: block;
  width: 24px;
  height: 22px;

  text-indent: -9999px;

  background: url(../img/arrow_link.svg) no-repeat;
  background-size: contain;
  background-size: 24px 22px;
  &:hover {
        @include animate(bounce, 1s, infinite, normal, 0, ease-in-out);
  }
}



@include keyframes(bounce) {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}