.header__buttons {
  position: relative;
  top: 0;
}

.navbar-brand {
  width: 112px;
  height: 66px;
  
  text-indent: -999px;

  cursor: pointer;
  background-repeat: no-repeat;

  background-size: contain;
} 

.navbar-collapse {
  .navbar-nav {
    padding-top: 30px;
    padding-bottom: 30px; 

    text-align: center;


    .dropdown-menu > li > a,
    > li > a {
      padding-top: 15px; 
      padding-bottom: 15px;

      text-decoration: none;

      color: #FFFFFF;
    }

    .dropdown-menu {
      text-align: center;
      > li > a {
        font-size: 14px;
      }
    }
  }
}

.dropdown-menu{
  border-radius: 0;
  padding:0;
  li{
    a{
      display: block;
      height: 35px;
      line-height: 32px;
    }
  }
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a.active, {
  text-decoration: none;

  color: #000000;
  background-color: $f-light-gray;
}


button.navbar-toggle {
  position: absolute;
  z-index: 2;
  top: 1px;
  right: 96px;

  float: none;
  clear: both;
  width: 42px;
  height: 42px;

  border-radius: 0;
  background: $f-yellow;
  .icon-bar {
    background: #FFFFFF;
  }
}

.navbar-nav {
  > li {
    > a {
      font-family: $f-font-stack-light-title;
      font-size: 16px;
      font-weight: 200;
      text-decoration: none;

      color: #000000;
    }
  }
}

.nav-social {
  overflow: hidden;
  width: 137px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 30px;

  list-style: none;

  border-top: 1px solid #FFFFFF;

  > li {
    float: left;
    padding: 12px;
    a {
      display: inline-block;
      overflow: hidden;
      padding: 0;

      font-size: 16px;
      font-weight: bold;

      color: #FFFFFF;
    }
  }
}

/*

  Buttons

*/

.buttons-button {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 48px;

  width: 42px;
  height: 42px;
  margin-bottom: 8px;
  padding: 9px 10px;

  border: 0;
  border-radius: 0;
  background: $f-yellow;
  i {
    color: #FFFFFF;
  }
}

.header__buttons-wrapper-inner {
  z-index: 5;

  overflow: hidden;
  margin-right: -12px;
  margin-left: -12px;

  &.active {
    display: block;
  }
  > ul {
    padding: 0;

    list-style: none;
    > li {
      text-align: right;

      a {
        display: block;
        i {
          display: inline-block;
          width: 20px;
          height: 25px;
          margin: 0 5px;

          vertical-align: text-bottom;
        }
      }
    }
  }
}


.icon__demandeur_emploi {
  background: url('../img/icon_btn_demandeur_emploi.png') no-repeat;
}
.icon__entreprises_travailleurs {
  background: url('../img/icon_btn_entreprises_travailleurs.png') no-repeat;
}
.icon__enseignement {
  background: url('../img/icon_btn_enseignement.png') no-repeat;
}


/*
 * Search
**/

.search-button {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 0;

  width: 42px;
  height: 42px;
  margin-bottom: 8px;
  padding: 9px 10px;

  border: 0;
  border-radius: 0;
  background: $f-yellow;
  i {
    color: #FFFFFF;
  }
}

.search-wrapper .form-search {
  display: none;
}
.search-wrapper .form-search.active {
  display: block;
}

.search-wrapper .input-group {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;

  display: none;
  overflow: hidden;
  width: 254px;
  height: 55px;

  transition: display .3s ease 0s, top .3s ease 0s;
}

.search-wrapper .input-group input {
  z-index: 5;

  overflow: hidden;

  backface-visibility: none;
}

.search-wrapper .input-group {
  z-index: 20;
  top: 55px;

  display: block;
}

.search-wrapper .form-actions,
.search-wrapper .input-group-btn {
  display: none;
}

@media (min-width:1200px) {
  .navbar-nav {
    > li {
      > a {
        margin-right: 35px;
      }
    }
  }
}

@media (min-width:1024px) {
  .navbar-collapse {
    padding-top: 0;
    padding-bottom: 0;

    .navbar-nav {
      padding: 0;
      .dropdown-menu > li > a,
      > li > a {
        padding-top: 10px;
        padding-bottom: 10px;

        color: #000000;
      }



      .dropdown-menu {
        text-align: left;
        left: 0;
        right: auto;
        > li > a {
          font-size: 14px;
          line-height: 14px;
          height: auto;
          padding: 18px 15px;
        }

        > li.active > a {
            color:#FFFFFF;
        }
      }
    }
  }

  .nav-social {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

    border-top: none;

    > li {
      a {
        color: #000000;
      }
    }
  }

  .header__buttons-wrapper-inner {
    position: relative;
    top: 0;
    right: 0;

    display: block;
    ul {
      float: right;
      li {
        float: left;
        margin-left: 1px;
      }
    }
  }
  .buttons-button {
    display: none;
  }
  .navbar-brand {
    width: 169px;
    height: 98px;
  }
  .navbar-nav {
    margin-top: 40px;
  }
  .nav-social li:last-child {
    margin-right: 37px;
  }
  .search-button {
    top: 116px;
    right: 0;

    width: auto;
    height: auto;
    padding: 0;

    background: none;
    i {
      color: #000000;
    }
  }
  .search-wrapper .input-group {
    top: 150px;
  }
}
