
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {

    -webkit-border-radius: 0;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background:lighten($f-gray, 20%);

}
::-webkit-scrollbar-thumb:window-inactive {
	background:lighten($f-gray, 20%);
}