.news__page-listing
{
    margin-bottom: 20px;
}

.news__element
{
    position: relative;

    margin-bottom: 20px;
    header
    {
        font-family: $f-font-stack-title;

        position: absolute;
        top: -60px;
        left: 50%;

        width: 75px;
        height: 75px;
        margin: 0;
        padding: 20px 0;

        transform: translateX(-50%);

        color: #fff;
        .date__day
        {
            font-size: 31px;

            display: block;

            text-align: center;
        }
        .date__month
        {
            font-size: 14px;

            display: block;

            margin-top: 5px;

            text-align: center;
        }
    }
    > div
    {
        padding: 20px;

        background: $f-light-gray;
    }
}

.page-actualites
{
    .news__element
    {
        > div
        {
            margin-top: 100px;
        }
    }
}

.news__element-content
{
    h3
    {
        font-size: 16px;
        line-height: 25px;

        margin-top: 0;
    }
}

.twitter-timeline
{
    .row
    {
        display: block;

        margin-bottom: 0;
    }
    > a
    {
        display: block;

        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.tweet
{
    margin-bottom: 20px;
    padding: 10px 15px;
}

.tweet-header
{
    color: $f-gray;
    h4,
    time
    {
        font-family: 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;

        display: inline-block;

        color: $f-gray;
    }
}

.tweet-text
{
    color: #000;
}

@media (min-width:768px)
{
    .news__page-listing
    {
        margin-bottom: 20px;
    }
    .news__element
    {
        position: relative;
        header
        {
            position: absolute;
            top: 0;
            left: 0;

            padding: 20px 10px 10px 0;

            transform: none;
            .date__day
            {
                text-align: right;
            }
            .date__month
            {
                text-align: right;
            }
        }
        > div
        {
            margin-top: 0;
            margin-left: 100px;
        }
    }

    .news__home
    {
        .news__element
        {
            margin-bottom: 0;
            > div
            {
                margin-left: 0;
                padding: 0;

                background: transparent;
                &.news__feature-inner
                {
                    padding: 80px 40px;
                }
            }
        }
    }

    .twitter-timeline
    {
        .row
        {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;

            margin-bottom: 20px;
        }
    }

    .tweet
    {
        height: 100%;
        margin-bottom: 0;
    }
    .page-actualites
{
  .news__element
    {
        > div
        {
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
}
}
