.contact-form {
  margin-top: 20px;
}

#contactForm {
  .btn__default {
    width: 150px;
    color: #fff;
  }
  .row {
    margin-bottom: 10px;
  }
}


.contact {
  #map {
    height: 550px;
  }

  .contact__text {
    padding-top: 40px;
  }
}


