/*******************/
/* BLOCK CALENDAR
/*******************/
.block-views{
  .events__listing {
    overflow-y: scroll;
    height: 320px;
    .events {
      clear: both;
      margin-bottom: 10px;
      padding: 0;
      list-style: none;
      font-family: $f-font-stack-title;
      font-size: 16px;
    }
    .event {
      display: block;
      margin-bottom: 10px;
      div {
        display: inline-block;
        max-width: 85%;
        vertical-align: middle;
      }
    }
    .formation-block__element {
      position: relative;
      .event__date {
        text-align: center;
        padding: 5px;
      }
      .event__details {
        padding-left: 10px;
        a {
          color:#000;
        }
      }
    }
  }
}
/*******************/
/* BIG CALENDAR
/*******************/
.view-display-id-pg_calendar{
  .formation-block__element:not(.events__listing) {
    margin-bottom: 10px;
    padding: 20px 15px 10px;
    position: relative;

    background: rgba(255, 255, 255, .9);
  }
  .calendar-calendar{
    margin-bottom: 40px;
    th.days{
      border-color:$f-light-gray;
      color:#000;
      background: $f-light-gray;
      letter-spacing: 2.5px;
      font-weight: 600;
      line-height: 50px;
      padding:0;
    }
    .month-view .full {
      td{
        padding: 0px;
        &.single-day .calendar-empty,
        &.single-day.empty,
        &.date-box.empty{
          background: $f-light-gray;
        }
        &.date-box.today,
        &.single-day.today{
          border-color:$f-blue;
        }
        div.monthview, 
        div.weekview, 
        div.dayview{
          margin:0;
          color: white;
          border-radius:0;
          padding:5px;
          font-size: 14px;
          a{
            color: white;
            font-weight: 600;
          }
          span.date-display-single, 
          span.date-display-start,
          span.date-display-end, 
          span.date-display-separator{
            font-weight: 400;
          }
        }
        .inner div.day, 
        .inner div.day a{
          color:#000;
          font-weight: 600;
          letter-spacing: 2.5px;
        }
        &.multi-day,
        &.date-box{
           height: auto !important;
        }
        &.single-day{
          height: 10vh !important;
        }
      }
      .continues,
      .cutoff{
        display: none;
      }
    }
  }
}

.date-nav{
  padding-bottom: 0;
  margin-bottom: 0 !important;
  .pager{
    margin:0;
    .event__month__title {
      text-align:left;
      font-size: 20px;
      float: left;
    }
    .event__month__next,
    .event__month__prev {
      position: absolute;
      right: 0px;
      margin-top: 3px;
      > a {
        background: none;
        border: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 12px;
        &:hover{
          background-color: transparent;
        }
        > div{
          display: none;
        }
      }
    }

    .event__month__prev {
      text-align: left;
      right: 120px;
    }
  }
}

@media (max-width:768px) {
 .view .date-nav-wrapper .date-heading {
    text-align: left;
  }
  .calendar-calendar .month-view table.full {
    position: relative; 
  }
  .view-display-id-pg_calendar .calendar-calendar .month-view .full tr td.single-day {
    width: 100%;
    height: auto !important;
    float: left;
    text-align: left;
  }
  .calendar-calendar tbody tr:hover td {
    background: none;
  }
  .calendar-calendar .month-view .full tr.single-day {
    border-top: 1px solid #ccc;
  }
  .calendar-calendar .month-view .full tr td.single-day:before { 
    content: attr(data-day-of-month) ",\0000a0" attr(headers); 
    padding: 1.5em 1em;
    height: 2em;
    line-height: 2.5em;
  }
  .calendar-calendar .month-view .full thead tr,
  .calendar-calendar .month-view .full tr th.days,
  .calendar-calendar .month-view .full tr td.date-box,
  .calendar-calendar .month-view .full tr td.no-entry,
  .calendar-calendar .month-view .full tr td.empty {
    display: none;
    visibility: hidden;
  }

  .date-nav .pager .event__month__prev{
    right:0;
    top: -10px;
  }
  .date-nav .pager .event__month__next{
    top: 10px;
  }
}

