.fiche__formation
{
    margin-top: 20px;
    margin-bottom: 40px;
    > header
    {
        margin-bottom: 20px;
    }
    h3
    {
        font-size: 1.125em;
    }
}

.fiche_formation-domain
{
    &::after
    {
        left: .15em;

        display: inline-block;

        width: 8px;
        height: 8px;
        margin-right: 5px;
        margin-left: 5px;

        content: '';
        transform: rotate(45deg);

        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}

.fiche__formation-header
{
        padding: 0px 12px;

    color: #fff;
    h1
    {
        font-size: 16px;

        display: block;

        margin: 0;
        padding: 0;

        text-transform: inherit;

        color: #fff;
        background: none;
    }
    .fiche__formation-title
    {
        background: $f-blue;
        h1
        {
            line-height: 18px;

            display: inline-block;

            margin: 15px 0;
        }
    }
    .fiche__formation-header-btns
    {
        position: relative;

        padding: 15px 0;

        text-align: center;

        background: $f-blue;
        .addthis_inline_share_toolbox
        {
            display: inline-block;
            vertical-align: top;
            #atstbx > div > a.at-share-btn
            {
                margin: 0;


                background: transparent !important;
                &::after
                {
                  margin-top: 2px;
                    font: normal normal normal 15px/1 FontAwesome;
                    font-size: inherit;

                    display: inline-block;

                    content: '\f1e0';

                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                > span.at-icon-wrapper
                {
                    display: none !important;
                }
            }
        }
        &::after
        {
            position: absolute;
            bottom: 0;
            left: 50%;

            width: 90%;
            height: 1px;

            content: '';
            transform: translateX(-50%);

            background: #fff;
        }
        >a {
          display: inline-block;
          vertical-align: top;
        }
        a
        {
            font-size: 15px;

            padding: 0 3px;

            color: #fff;
        }
    }
    .fiche__formation-intrested
    {
        text-align: right;
    }
}

.fiche__formation-description-code{
    display: block;
    margin-top: 15px;
}

.fiche__formation-content
{
    h3
    {
        margin-top: 30px;
    }
}

.fiche__formation-description
{
    padding: 15px 15px 40px;

    color: #fff;
    background: $f-blue;
    h3
    {
        color: #fff;
    }
    p
    {
        font-weight: 200;
    }
}

.panel-default > .panel-heading
{
    a
    {
        color: #000;
    }
}

.fiche__formation-details
{
    padding: 0;

    list-style: none;
    .fiche__formation-detail
    {
        margin-bottom: 25px;
    }
    .fiche__formation-detail-title
    {
        i
        {
            min-width: 25px;
        }
    }
}

.fiche__formation-programme
{
    > tbody
    {
        > tr
        {
            border: none;
            > td
            {
                padding-left: 20px;

                border: none;
                &:nth-child(odd)
                {
                    border-right: 2px solid #fff;
                }
            }
            &:nth-child(odd)
            {
                background: $f-light-gray;
            }
        }
    }
}

.gray__block
{
    width: 76px;
    height: 76px;
    margin: 10px 0 20px 0;

    background: $f-light-gray;
}

.fiche__formation-btns
{
    margin-bottom: 20px;
    .btn:first-child
    {
        text-align: left;
    }
}

/* ==========================================================================

      Slider

========================================================================== */

.swiper-container
{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.swiper-slide
{
    height: 276px;

    background: $f-light-gray;
}

.formation__recommanded-element
{
    padding: 40px 15px 0 30px;

    text-align: left;
    h4
    {
        font-size: 1.125em;

        margin-top: 20px;
    }
    p
    {
        font-size: 1em;
        font-weight: 300;
    }
    .date__day
    {
        font-size: 33px;

        text-align: left;
    }
    .date__month
    {
        font-size: 16px;

        text-transform: uppercase;
    }
    a{
        position: absolute;
        bottom:20px;
    }
}

.slider__wrapper
{
    position: relative;
}


/* FORM */
#cdc-formation-form{
    .red-text{
        margin-top:-20px;
    }
    .alert-info{
        border-radius:0;
        background:$f-blue;
        color: white;
        font-size: 1.250em;
        box-shadow:none;
        text-shadow: none;
        border:none;
    }
    #edit-ddn{
        margin-bottom: 15px;
        .form-item{
            width: calc(32.9% - 7px);
            margin-left: 12px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}

@media (min-width:768px)
{
    .fiche__formation-header
    {
        .fiche__formation-title
        {
            h1
            {
                padding-left: 10px;
            }
        }
        .fiche__formation-header-btns
        {
            text-align: left;
        }
    }
}

@media (min-width:1024px)
{
    .fiche__formation-header
    {
        .fiche__formation-header-btns
        {
            position: relative;

            display: inline-block;

            padding: 15px 15px 13px 0;

            background: $f-blue;
            &::after
            {
                position: absolute;
                top: 50%;
                right: 0;
                bottom: inherit;
                left: inherit;

                width: 1px;
                height: 50%;

                content: '';
                transform: translateY(-50%);

                background: #fff;
            }
        }
    }
}




@media print
{
    body
    {
        #wrapper
        {
            > .region-page-top,
            > header,
            .formation-block__search,
            .footer
            {
                display: none;
            }
            main
            {
                .tabs--primary,
                .action-links,
                .fiche__formation-header-btns,
                .fiche__formation-btn
                {
                    display: none;
                }
                .fiche__formation + .container h3,
                .fiche__formation + .container #block-views-formations-block-upcoming
                {
                    display: none;
                }
                .collapse
                {
                    display: block;
                }
                .panel-group .panel-title a::after
                {
                    display: none;
                }
            }
        }
    }
}
