.formation-block {
  margin-bottom: 20px;
}

.formation-block__search {
  background: $f-light-gray;
  .input-group-addon{
    display: none;
  }
  .chosen-container-single .chosen-search input[type="text"]{
    background:none;
  }

  .form-type-date-popup{
    margin-right: 0;
    margin-bottom: 12px;
    input {
      width: 100%; 
    }
  }

  .reset{
    display: block;
    text-align: right;
  }

  .btn {
    margin-bottom: 10px;
  }
  .btn-group {
    text-align: center;
  }
  a {
    font-size: 14px;
  }
    h1 {
      padding: 0;
    }
}

.form-item-motscles {

    .dropdown li.selected {
     background: #eee;
     color: inherit;
   }
   .dropdown li {
     white-space: normal;
     margin: 0;
   }
   .dropdown ul.links,
   .dropdown ul.links li {
     background: none;
   }
   .dropdown p {
     margin: 0;
   }
}
.container-inline-date .form-item, .container-inline-date .form-item input {
  width:100%;
}

.container-inline-date .date-padding {
  float: none !important;
}


#ui-datepicker-div{
  font-family: $f-font-stack-default ; 
  border-radius: 0px;
  background:white;
  padding:0;
  width: auto;
  z-index: 3 !important;
  .ui-datepicker-prev, 
  .ui-datepicker-next{
    top:17px;
    &:hover{
      cursor: pointer;
      border: none;
      background:none;
    }
  }
  .ui-datepicker-header{
    padding:15px 0;
    border-radius: 0px;
    border:none;
    background: $f-light-gray;
    select{
      font-family: $f-font-stack-default ; 
      text-transform: uppercase;
      text-align: center;
      width: auto;
      height: 30px;
      line-height: 26px;
      font-size: 14px;
      color: #000;
    }
  }
  .ui-datepicker-calendar{
    width: auto;
    margin: 15px 5px 15px 20px;
    tr{
      th,
      td{
        text-align: left;
        width: 30px;
        display: inline-block;
      }
      th{
        padding:7px 0;
        
        span{
          padding:0;
          font-size: 11px;
          font-family: $f-font-stack-title;
          text-transform: uppercase;
          
        }
      }
      td{
        
        font-size: 14px;
        &.ui-state-disabled{
          opacity:1;
        }
        a, span{
          padding:5px 0;
          text-align: left;
          color: #000;
          background:none;
          border:none;
        }
        a{
          font-weight: 700;
          &:hover{
            text-decoration:underline;
          }
        }
      }
    }
  }
}

@media (min-width:1024px) {
  .formation-block__search .btn-group {
    text-align: left;
  }
}
