.date__infos {
  display: inline-block;
  min-width: 42px;

  text-align: center;

  color: #000000;
  span {
    display: block;
  }
}

.date__day {
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
}

.date__month {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.news {
  margin-bottom: 20px;
  .news__inner {
    > h4 {
      font-size: 1em;

      > a {
        text-decoration: none;

        color: #000000;
      }
    }
    &:hover {
      .arrow__link {
        @include animate(bounce, 1s, infinite, normal, 0, ease-in-out);
      }
    }
  }
}

.news__feature-inner {
  padding: 60px 40px;
  &:hover {
    .arrow__link {
      @include animate(bounce, 1s, infinite, normal, 0, ease-in-out);
    }
  }
}

.news__element {
  .date__infos {
    padding: 0;

    text-align: left;
  }
}
.news__feature {
  .date__infos {
    text-align: left;
  }
  .date__day {
    font-size: 33px;
    font-weight: 700;
  }
  .date__month {
    font-size: 16px;
  }
  .news__content {
    font-weight: 300;

    color: $f-gray;
  }
}

.news__listing {
  ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      margin-bottom: 25px;
    }
  }
}

.news__images {
  margin-top: -30px;
  padding-right: 0;
  .row {
    margin-bottom: 10px;
  }
  .news__square {
    position: relative;
    &::after {
      position: absolute;
      right: -60px;
      bottom: 0;

      width: 67px;
      height: 67px;

      content: '';
    }
  }
  .news__square.square__gray {
    &::after {
      top: 0;
      left: -70px;

      background: $f-light-gray;
    }
  }
}

@media (min-width:1024px) {

  .news {
    padding-top: 60px;
  }

  .content-box + .news {
    padding-top: 40px;
  }
  .news__listing {
    h2 {
      margin-top: 0;
    }
  }
  .news__feature {
    padding-left: 0;
  }
  .news__feature-inner {
    padding: 80px 40px;
  }

  .news__listing ul li {
    padding: 10px 0;
  }
}

@include keyframes(bounce) {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}
