.search__results-results {
  display: block;
  padding: 15px 5px;

  font-size: 18px;
  font-weight: bold;

  color: #000000;
}

.formation__summary {
  margin: 10px 0 20px;
  padding: 20px 20px 35px;

  border: 1px solid $f-light-gray;

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;

  h3 {
    margin-top: 0;
    font-size: 18px;
    min-height: 38px;
  }

  a {
    font-weight: normal;
    text-decoration: none;

    color: $f-gray;
  }
  &:hover {
    padding: 18px 18px 33px;
  }

  .summary__content {
    height: 125px;
    color: $f-gray;
  }
}

.summary__cat {
  display: block;
  margin-bottom: 10px;
}
.summary__infos {
  margin-bottom: 10px;
  span {
    display: block;

    color: #000000;
    i {
      width: 25px;
      padding-right: 10px;
    }
  }
}

.summary__content-title {
  display: block;
  margin-bottom: 15px;

  font-weight: 700;

  color: #000000;
}
