.team__block {
  h2 {
    margin-bottom: 40px;
  }
}

.team__element {
  position: relative;

  margin-bottom: 40px;
  padding: 10px;

  text-align: center;

  background: $f-light-gray;
  h4 {
    margin-top: 35px;
  }

  &:before {
    position: absolute;
    z-index: 25;
    top: -25px;
    right: 0;
    left: 0;

    width: 50px;
    height: 50px;
    margin: 0 auto;

    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    line-height: 50px;
    text-align: center;

    content: '\f007';

    color: #FFFFFF;
    background: $f-yellow;
  }
}


@media (min-width:1024px) {
  .team__element {
    margin-left: 10px;
    padding: 15px 10px 30px 40px;

    text-align: left;

    background: $f-light-gray;

    h4 {
      margin-top: inherit;
    }

    &:before {
      position: absolute;
      z-index: 25;
      top: 0;
      left: -25px;
      margin: 0;
      width: 50px;
      height: 50px;

      font: normal normal normal 14px/1 FontAwesome;
      font-size: 20px;
      line-height: 50px;
      text-align: center;

      content: '\f007';

      color: #FFFFFF;
      background: $f-yellow;
    }
  }
}
