article.node-page {
  padding-bottom: 40px; }

.node-contact .contact-form {
  margin-top: 20px; }
.node-contact #contactForm .row {
  margin-bottom: 10px; }
.node-contact .footer #map {
  height: 0px; }
