.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  z-index: 1;

  box-shadow: #0066FF 0 0 5px 0;

  -webkit-box-shadow: #0066FF 0 0 5px 0;
  -moz-box-shadow: #0066FF 0 0 5px 0;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  box-shadow: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  display: inline-block;
  overflow: visible;
  width: auto;
  margin: 0;
  padding: 3px 10px;

  vertical-align: top;
  text-decoration: none;

  cursor: pointer;

  color: #333333;
  border: 1px solid;
  border-color: #DDDDDD #BBBBBB #999999;
  outline: 0;
  background-clip: padding-box;

  -webkit-appearance: none;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  text-decoration: none;
}
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  border-color: #999999 #BBBBBB #DDDDDD;
  box-shadow: inset rgba(0, 0, 0, .25) 0 1px 2px 0;

  -webkit-box-shadow: inset rgba(0, 0, 0, .25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, .25) 0 1px 2px 0;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  padding: 0;

  border: 0;
}

a.button {
  *padding-bottom: 3px;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-sizing: border-box;
  height: 1.8em;
  margin: 0;
  padding: 2px 3px;

  text-align: left;
  vertical-align: top;

  color: black;
  border: 1px solid;
  border-color: #848484 #C1C1C1 #E1E1E1;
  border-radius: 0;
  outline: 0;
  background-color: white;
  background-clip: padding-box;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-appearance: none;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #EEEEEE;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  cursor: default;
  user-select: none;

  color: #888888;
  box-shadow: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select[size="0"],
select[size="1"] {
  height: 1.8em;

  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    padding-right: 3px;

    background-image: none;
  }

  select,
  select[size="0"],
  select[size="1"] {
    padding-right: 20px;

    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
  }

  ::-webkit-validation-bubble-message {
    overflow: hidden;
    min-height: 16px;
    padding: 15px 15px 17px;

    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;

    color: white;
    border: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    box-shadow: none;

    -webkit-box-shadow: none;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    border-color: #666666;
    background: #666666;
    box-shadow: none;

    -webkit-box-shadow: none;
  }
}
textarea {
  overflow: auto;
  width: 100%;
  min-height: 40px;

  resize: vertical;
}

optgroup {
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-weight: normal;
  font-style: normal;

  color: black;
}
optgroup::-moz-focus-inner {
  padding: 0;

  border: 0;
}

.ie6_button,
* html button,
* html a.button {
  overflow: visible;
  width: auto;
  padding: 2px 10px 0;

  font: bold 12px/1.2 Arial, sans-serif;
  vertical-align: top;
  text-decoration: none;

  cursor: pointer;

  color: #333333;
  border: 1px solid;
  border-color: #DDDDDD #BBBBBB #999999;
  background: #DDDDDD url('../images/button.png?1298351022') repeat-x;
}

* html a.button {
  position: relative;
  top: 3px;

  padding-bottom: 2px;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  padding: 2px 3px 1px;

  font-family: Arial, sans-serif;
  font-size: 13px;
  vertical-align: top;

  color: black;
  border: 1px solid;
  border-color: #848484 #C1C1C1 #E1E1E1;
  background: white;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

.ie6_input_disabled {
  background: #EEEEEE;
}
