.formation-block__agenda {
  padding-bottom: 30px;
  color: #000000;
  background: url("../img/bg_formation-block.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.formation-block__agenda h1 {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
}

.formation-block__element {
  margin-bottom: 10px;
  padding: 20px 15px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}

.formation-agenda__about .formation-block__element {
  color: #959595;
}

.agenda__month {
  margin: 0;
  padding-left: 5px;
}

.agenda__next-month {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #959595;
  text-decoration: none;
  font-weight: normal;
}

@media (min-width: 768px) {
  .formation-block__agenda .btn {
    float: right;
  }
}

@media (min-width: 1024px) {
  .formation-block__agenda {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}

