/**
 * Place your custom styles here.
 */



 .block-facetapi .form-type-select label.control-label{
	display:none;
}

.form-item-sessions-date-date .help-block,
.form-item-date-date .help-block{
	display: none;
}