@import 'partials/utils/variables';
@import 'partials/utils/mixins';
@import 'partials/utils/typography';
@import 'partials/utils/chosen';

// base
@import 'partials/base/alert';
@import 'partials/base/buttons';
@import 'partials/base/icons';
@import 'partials/base/collapse';
@import 'partials/base/links';
@import 'partials/base/form';
@import 'partials/base/nav';
@import 'partials/base/footer';
@import 'partials/base/scrollbar';

// content
@import 'partials/content/formation-block';
@import 'partials/content/event';
@import 'partials/content/content-box';
@import 'partials/content/search-results';
@import 'partials/content/fiche';
@import 'partials/content/news';
@import 'partials/content/team';
@import 'partials/content/actualites';
@import 'partials/content/contact';

// pages
@import 'pages/home';
@import 'pages/page';

// centres
@import 'partials/centre/brand';

.container{
	padding:0;
}

address {
  margin: 0;
}

.btn:focus {
	outline:0;
	box-shadow:none;
}

@media (min-width:1200px) {
  .col-lg-nopadding {
    padding: 0;
  }
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }