@import "../partials/utils/variables";

article.node-page{
	padding-bottom:40px;
}
.node-contact{
	.contact-form {
	  margin-top: 20px;
	}
	#contactForm {
	  .row {
	    margin-bottom: 10px;
	  }
	}
	.footer #map {
    height: 0px;
	}
}